<div class="row">
  <div class="section">
    <div class="section-summary col-xs-12 col-md-3">
      <h1>Información Personal</h1>
      <p>
        Ingresa el nombre y correo electrónico del administrador.
      </p>
    </div><!-- col-lg-3 -->
    
    <div class="section-content col-xs-12 col-md-9">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <%= f.label :name, 'Nombre*' %>
          <%= f.text_field :name, class: "form-control" %>
        </div><!-- form-group -->
        
        <div class="form-group col-xs-12 col-md-12">
          <%= f.label :email, 'Correo Electrónico*' %>
          <%= f.text_field :email, class: "form-control" %>
        </div><!-- form-group -->
      </div>
    </div><!-- section-content -->
  </div><!-- section -->  
  
  <div class="section-separator"></div>
</div>

<div class="row">
  <div class="section">
    <div class="section-summary col-xs-12 col-md-3">
      <h1>Imagen de Perfil</h1>
      <p>
        Selecciona una imagen que servirá para el perfil del administrador.
      </p>
    </div><!-- col-lg-3 -->
    
    <div class="section-content col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <% if @administrator && @administrator.avatar.exists? %>
            <div class="form-group">
              <%= link_to "#", class: "thumbnail", style: "width:100%;height:auto;" do %>
                <%= image_tag @administrator.avatar.url(:medium), id: "avatar-container", style: "width:100%" %>
              <% end %>
            </div><!-- form-group -->
          <% else %>
            <div class="form-group">
              <%= link_to "#", class: "thumbnail", style: "width:100%;height:auto;" do %>
                <%= image_tag "admin/defaults/user_medium.png", id: "avatar-container", style: "width:100%" %>
              <% end %>
            </div>
          <% end %>
          
          <div class="form-group">
            <%= f.file_field :avatar, class: "form-control form-control-upload-styled", data: { toggle: "avatar-preview", container: "#avatar-container" } %>
          </div>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- section-content -->
  </div><!-- section -->  
  
  <div class="section-separator"></div>
</div>

<div class="row">
  <div class="section">
    <div class="section-summary col-xs-12 col-md-3">
      <h1>Detalles de la Cuenta</h1>
      <p>Ingresa o modifica la contraseña del administrador. <br /><b>Nota:</b> Si se está creando un administrador nuevo el ingreso de la contraseña es obligatorio.</p>
    </div><!-- col-lg-3 -->
    
    <div class="section-content col-xs-12 col-md-9">
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <%= f.label :password, 'Contraseña' %>
          <%= f.password_field :password, class: "form-control" %>
        </div><!-- form-group -->
        
        <div class="form-group col-xs-12 col-md-12">
          <%= f.label :password_confirmation, 'Confirmar Contraseña' %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div><!-- form-group -->
      </div>
    </div><!-- section-content -->
  </div><!-- section -->  
  
  <div class="section-separator"></div>
</div>

<%= content_for(:javascript) do %>
  <%= javascript_tag do %>
    AvatarPreviewApp.init();
  <% end %>
<% end %>