<%= form_for @administrator, url: admin_profile_path(@administrator) do |f| %>
  <section class="wrapper-xs bg-white border-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <ol class="breadcrumb no-margin">
            <li><strong>Perfil</strong></li>
          </ol>
        </div><!-- /.col -->
        
        <div class="col-xs-12 col-sm-5">
          <div class="pull-right pull-left-xs">
            <%= submit_tag "Guardar", class: "btn btn-primary" %>
          </div><!-- /.pull-right -->
        </div><!-- /.col -->
        
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- wrapper-xs -->
  
  <% if @administrator.errors.any? %>
    <%= render partial: "admin/base/message_error", 
          locals: { message: "Tu perfil no puede ser guardado debido a los siguientes errores:", 
          errors: @administrator.errors } %>
  <% end %>
  
  <% if flash[:success] %>
    <%= render partial: "admin/base/message_success", 
          locals: { message: "Tu perfil ha sido actualizado con éxito." } %>
  <% end %>
    
  <section class="wrapper-sm">
    <div class="container-fluid">
      <%= render partial: "form", locals: { f: f } %>
    </div><!-- container-fluid -->
  </section><!-- wrapper-sm -->
  
  <section class="wrapper-xs bg-white border-default">
    <div class="container-fluid">
      <div class="row">        
        <div class="col-xs-12">
          <div class="pull-right">
            <%= submit_tag "Guardar", class: "btn btn-primary" %>
          </div><!-- /.pull-right -->
        </div><!-- /.col -->   
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- wrapper-xs -->
<% end %>